<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='toastr.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
                crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='toastr.min.js') }}"></script>
        <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.lazyload.js') }}"></script>
        <title>{% block title %}{% endblock %} - PlexSync</title>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PlexSync</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Sections <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for plex_section in plex_sections %}
                            <li><a href="/section/{{ plex_section.key }}">{{ plex_section.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="/queue">Queue</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="container" id="alerts">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}

            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<div id="content" class="container">{% block content %}{% endblock %}</div>
<script>
    var native = 0;
    var socket = io('http://' + document.domain + ':' + location.port + '/');
    
</script>
{% block javascript %}{% endblock %}
<script>
    
    var start = function () {
        socket.on('notification', function (data) {
            if (native == 1) {
                new Notification('PlexSync', {
                    body: data["body"]
                });
            } else {
                toastr.options.newestOnTop = true;
                toastr.options.closeButton = true;
                toastr.success('PlexSync', data["body"]);
            }
        });
    };

    $(function () {

        if (window.Notification) {
            Notification.requestPermission(function (result) {
                if (result === 'granted') {
                    native = 1;
                    start();
                } else {
                    native = 0;
                    start();
                }
            });
        } else {
            native = 0;
            start();
        }

    });

    $(function() {
        $("img.lazy").lazyload();
    });
</script>
</body>
</html>