{% extends "base.html" %}
{% block title %}{{ show.title }}{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th>Episode</th>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for episode in episodes %}
                    <tr>
                        <td>{{ episode.index }}</td>
                        <td>{{ episode.title }}</td>
                        <td>
                            <a href="/section/{{ section_id }}/download_show/{{ show.title|urlencode }}/{{ season.title|urlencode }}/{{ episode.title|urlencode }}" class="btn btn-primary" role="button">Download</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}