{% extends "base.html" %}
{% block title %}{{ section_name }}{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% for movies_array in movies_matrix %}
                <div class="row">
                    {% for movie in movies_array %}
                        <div class="col-sx-12 col-sm-6 col-md-2">
                            <div class="thumbnail">
                                <img class="lazy" data-original="{{ plex_server.url('/photo/:/transcode?width=125&height=188&minSize=1&url=%s' % movie.thumbUrl|urlencode) }}">
                                <div class="caption">
                                    <h5>{{ movie.title }}</h5>
                                    <p>
                                        <a href="/section/{{ section_id }}/download_movie/{{ movie.title|urlencode }}" class="btn btn-primary" role="button">Download</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}