{% extends "base.html" %}
{% block title %}{{ section_name }}{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                    <tr>
                        <td>{{ movie.title }}</td>
                        <td>
                            <a href="/section/{{ section_id }}/download_movie/{{ movie.title|urlencode }}" class="btn btn-primary" role="button">Download</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}