{% extends "base.html" %}
{% block title %}Not Implemented{% endblock %}
{% block content %}
    <div class="alert alert-danger" role="alert">
        <strong>Section not implemented yet.</strong>
    </div>
{% endblock %}