{% extends "base.html" %}
{% block title %}Queue{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Progress</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for key, item in queue %}
                <tr id="{{ item['rating_key'] }}">
                    <td>{{ item['title'] }}</td>
                    <td class="progress-bar-td">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ item['percentage'] }}"
                                 aria-valuemin="0" aria-valuemax="100" style="width: {{ item['percentage'] }}%">
                                <span class="sr-only">{{ item['percentage'] }}%</span>
                            </div>
                        </div>
                    </td>
                    <td class="status-td">
                        {% if item['status'] == 0 %}
                            <span class="label label-default">In Queue</span>
                        {% else %}
                            <span class="label label-success">Downloading</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascript %}
    <script>
    socket.on('queue_update', function (data) {
        console.log("Arrived data: "+data['id']+" with percentage of "+data['percentage'])
        var span_element = $("#"+data["id"]+" > .status-td > span");
        if (span_element.text() == "In Queue") {
            span_element.text("Downloading");
            span_element.removeClass("label-default");
            span_element.addClass("label-success");
        }
        $("#"+data["id"]+" > .progress-bar-td > .progress > .progress-bar").css("width", data["percentage"]+"%").attr("aria-valuenow", data["percentage"]);
    });
    socket.on('queue_remove', function (data) {
        console.log("Arrived remove data: "+data['id'])
        $("#"+data["id"]).remove()
    })
    </script>
{% endblock %}