{% extends "base.html" %}
{% block title %}{{ show.title }}{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ show.title }}</div>
        <div class="panel-body">
            <div class="col-sm-2"><img class="lazy" data-original="{{ plex_server.url('/photo/:/transcode?width=125&height=188&minSize=1&url=%s' % show.thumbUrl|urlencode) }}"/></div>
            <div class="col-sm-10">{{ show.summary }}</div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for season in seasons %}
                <tr>
                    <td>
                        <a href="/section/{{ section_id }}/show/{{ show.title|urlencode }}/season/{{ season.title|urlencode }}">{{ season.title }}</a>
                    </td>
                    <td>
                        <a href="/section/{{ section_id }}/download_show/{{ show.title|urlencode }}/{{ season.title|urlencode }}"
                           class="btn btn-primary" role="button">Download</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}