{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th>Sections</th>
                </tr>
            </thead>
            <tbody>
                {% for section in plex_sections %}
                    <tr>
                        <td><a href="/section/{{ section.key }}">{{ section.title }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}