{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <form action="/settings" method="post">
            <div class="panel-body">
                <div class="form-group">
                    <label for="username">Username (Restart required)</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" value="{{ username }}">
                </div>
                <div class="form-group">
                    <label for="password">Password (Restart required)</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" value="{{ password }}">
                </div>
                <div class="form-group">
                    <label for="video-resolution">Video Resolution</label>
                    <input type="text" class="form-control" name="video-resolution" id="video-resolution" placeholder="Video Resolution" value="{{ video_resolution }}">
                </div>
                <div class="form-group">
                    <label for="max-bitrate">Max Video Bitrate</label>
                    <input type="number" class="form-control" name="max-bitrate" id="max-bitrate" placeholder="Max Video Bitrate" value="{{ video_bitrate }}">
                </div>
                <div class="form-group">
                    <label for="download-path">Download Path</label>
                    <input type="text" class="form-control" name="download-path" id="download-path" placeholder="Download Path" value="{{ download_path }}">
                </div>
                <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
    </div>
{% endblock %}